In [4]:
%matplotlib inline

import pandas as pd
import seaborn as sns
import numpy as np

from matplotlib import pyplot as plt

from sklearn.ensemble import RandomForestClassifier, BaggingClassifier, GradientBoostingClassifier, BaggingClassifier, VotingClassifier
from sklearn.svm import SVC, LinearSVC, NuSVC
from sklearn.preprocessing import label_binarize, normalize, LabelEncoder
from sklearn.metrics import log_loss, classification_report
from sklearn.decomposition import PCA

from sklearn.cross_validation import cross_val_score, KFold, StratifiedKFold, train_test_split
from sklearn.feature_selection import RFECV
from sklearn.grid_search import GridSearchCV
from sklearn.linear_model import SGDClassifier
from sklearn.calibration import CalibratedClassifierCV

In [5]:
df = pd.read_csv('../input/train.csv')
df.head()

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
1,A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
2,A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
3,A683430,NaN,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream
4,A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan

In [6]:
df['has_name'] = pd.notnull(df['Name']).astype('bool8')
#####
df.DateTime = pd.to_datetime(df.DateTime)
df['year'] = df.DateTime.dt.year.astype('category')
df['month'] = df.DateTime.dt.month.astype('category')
df['weekday'] = df.DateTime.dt.weekday.astype('category')
df['week_end'] = df.weekday.isin([5,6])
df['hour'] = df.DateTime.dt.hour.astype('category')
def hour_period_map(x):
    if x in [7,8,9,10,11,12]:
        return 'morning'
    elif x in [13,14,15,16,17,18]:
        return 'afternoon'
    elif x in [19,20,21,22,23]:
        return 'night'
    else:  # [0,1,2,3,4,5,6]
        return 'dawn'
    
df['period'] = df.hour.apply(hour_period_map)
#####
df['is_dog'] = (df['AnimalType'] == 'Dog')
####
foo = df['SexuponOutcome'].str.split(expand=True)
df['condition'] = foo[0].map({'Neutered': 'operated', 'Spayed':'operated', 'Intact': 'intact', 'Unknown': 'unknown'})
df['is_male'] = (foo[1] == 'Male')
#####
time_multiplier = dict(year = 365, years=365, weeks = 7, month = 30, months=30, days = 1, week = 7, day= 1)
foo = df['AgeuponOutcome'].str.split(expand=True)
age = foo[0].astype('float32')
period = foo[1]
period = period.map(time_multiplier)
df['age_in_days'] = age * period
df['age_in_years'] = (df['age_in_days'] / 365).round()
df['age_in_months'] = (df['age_in_days'] / 30).round()
#####
df['pure_breed'] = df.Breed.apply(lambda x : 'mix' not in x.lower()).astype('bool8')
####
cores = df.Color.str.split('/', expand=True)

df['cores_1'] = cores[0].str.split(expand=True).ix[:,0]
df['cores_2'] = cores[1].str.split(expand=True).ix[:,0]
df['bi_color'] =  df.Color.str.contains('/').astype('bool8')
####
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26729 entries, 0 to 26728
Data columns (total 27 columns):
AnimalID          26729 non-null object
Name              19038 non-null object
DateTime          26729 non-null datetime64[ns]
OutcomeType       26729 non-null object
OutcomeSubtype    13117 non-null object
AnimalType        26729 non-null object
SexuponOutcome    26728 non-null object
AgeuponOutcome    26711 non-null object
Breed             26729 non-null object
Color             26729 non-null object
has_name          26729 non-null bool
year              26729 non-null category
month             26729 non-null category
weekday           26729 non-null category
week_end          26729 non-null bool
hour              26729 non-null category
period            26729 non-null object
is_dog            26729 non-null bool
condition         26728 non-null object
is_male           26729 non-null bool
age_in_days       26711 non-null float64
age_in_years      26711 non-null float64
age_in_months     26711 non-null float64
pure_breed        26729 non-null bool
cores_1           26729 non-null object
cores_2           13924 non-null object
bi_color          26729 non-null bool
dtypes: bool(6), category(4), datetime64[ns](1), float64(3), object(13)
memory usage: 3.7+ MB

In [20]:
df2 = df[['DateTime',
          'has_name', 
          'year',
          'month', 
          'weekday', 
          #'weekend',
          #'period', 
          'hour',
          'is_dog', 
          'condition', 
          'is_male', 
          'age_in_days', 
          'pure_breed', 
          'cores_1', 
          'cores_2', 
          'bi_color', 
          'OutcomeType']]
df2.unstack()
df2
#df2.set_index('DateTime',inplace=True)
#df2

,DateTime,has_name,year,month,weekday,hour,is_dog,condition,is_male,age_in_days,pure_breed,cores_1,cores_2,bi_color,OutcomeType
0,2014-02-12 18:22:00,True,2014,2,2,18,True,operated,True,365.0,False,Brown,White,True,Return_to_owner
1,2013-10-13 12:44:00,True,2013,10,6,12,False,operated,False,365.0,False,Cream,None,False,Euthanasia
2,2015-01-31 12:28:00,True,2015,1,5,12,True,operated,True,730.0,False,Blue,White,True,Adoption
3,2014-07-11 19:09:00,False,2014,7,4,19,False,intact,True,21.0,False,Blue,None,False,Transfer
4,2013-11-15 12:52:00,False,2013,11,4,12,True,operated,True,730.0,True,Tan,None,False,Transfer
5,2014-04-25 13:04:00,True,2014,4,4,13,True,intact,False,30.0,True,Black,Tan,True,Transfer
6,2015-03-28 13:11:00,True,2015,3,5,13,False,intact,True,21.0,False,Blue,None,False,Transfer
7,2015-04-30 17:02:00,False,2015,4,3,17,False,unknown,False,21.0,False,Brown,None,False,Transfer
8,2014-02-04 17:17:00,True,2014,2,1,17,True,operated,False,150.0,False,Red,White,True,Adoption
9,2014-05-03 07:48:00,False,2014,5,5,7,True,operated,False,365.0,True,White,None,False,Adoption
10,2013-12-05 15:50:00,False,2013,12,3,15,False,unknown,False,730.0,False,Black,None,False,Transfer
11,2013-11-04 14:48:00,False,2013,11,0,14,True,operated,False,730.0,False,Silver,None,False,Adoption
12,2016-02-03 11:27:00,True,2016,2,2,11,True,operated,True,1460.0,False,Brown,None,False,Adoption
13,2015-06-08 16:30:00,True,2015,6,0,16,True,operated,True,730.0,False,Black,Red,True,Return_to_owner
14,2015-11-25 15:00:00,True,2015,11,2,15,True,operated,True,365.0,False,White,Cream,True,Return_to_owner
15,2014-07-12 12:10:00,True,2014,7,5,12,False,operated,True,90.0,False,Orange,White,True,Adoption
16,2014-05-03 16:15:00,False,2014,5,5,16,False,intact,True,21.0,False,Brown,None,False,Transfer
17,2014-06-07 12:54:00,False,2014,6,5,12,True,intact,False,14.0,False,Brown,White,True,Transfer
18,2014-05-17 11:32:00,True,2014,5,5,11,False,intact,False,730.0,False,White,None,False,Transfer
19,2014-07-30 17:34:00,True,2014,7,2,17,True,operated,True,365.0,False,Black,None,False,Return_to_owner
20,2014-01-19 15:03:00,True,2014,1,6,15,True,intact,True,60.0,False,Black,White,True,Transfer
21,2015-09-18 15:19:00,True,2015,9,4,15,False,operated,False,365.0,False,White,None,False,Transfer
22,2015-08-15 14:22:00,True,2015,8,5,14,True,operated,False,730.0,True,Brown,White,True,Adoption
23,2013-10-28 16:32:00,True,2013,10,0,16,True,operated,True,300.0,False,Brown,White,True,Adoption
24,2014-04-09 17:44:00,True,2014,4,2,17,True,operated,True,60.0,False,Black,Brown,True,Return_to_owner
25,2015-10-03 15:44:00,True,2015,10,5,15,False,intact,False,30.0,False,Orange,None,False,Transfer
26,2016-01-15 17:31:00,True,2016,1,4,17,True,operated,False,180.0,False,Chocolate,White,True,Adoption
27,2015-03-25 18:50:00,True,2015,3,2,18,True,operated,False,1825.0,False,White,Tan,True,Adoption
28,2015-11-21 13:01:00,True,2015,11,5,13,False,operated,False,60.0,False,Cream,White,True,Adoption
29,2015-07-30 14:30:00,True,2015,7,3,14,False,operated,True,2555.0,False,Blue,None,False,Return_to_owner
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26699,2014-04-21 14:01:00,True,2014,4,0,14,True,operated,True,730.0,False,White,Black,True,Euthanasia
26700,2015-06-15 19:28:00,True,2015,6,0,19,True,intact,True,300.0,True,Tan,Cream,True,Return_to_owner
26701,2014-06-15 17:41:00,True,2014,6,6,17,True,intact,False,330.0,False,White,Black,True,Transfer
26702,2015-10-11 09:42:00,False,2015,10,6,9,False,operated,False,730.0,False,Lynx,None,False,Died
26703,2015-12-04 12:22:00,True,2015,12,4,12,False,operated,True,2190.0,False,Seal,None,False,Transfer
26704,2015-11-17 17:17:00,True,2015,11,1,17,False,intact,False,28.0,False,White,Black,True,Transfer
26705,2013-10-19 15:34:00,True,2013,10,5,15,False,intact,False,60.0,False,Tortie,None,False,Transfer
26706,2014-10-19 13:29:00,True,2014,10,6,13,False,operated,False,60.0,False,Black,None,False,Adoption
26707,2014-07-01 17:06:00,False,2014,7,1,17,False,unknown,False,365.0,False,Brown,None,False,Euthanasia
26708,2013-11-13 17:32:00,True,2013,11,2,17,True,operated,True,730.0,False,White,Brown,True,Transfer
26709,2015-10-24 00:00:00,False,2015,10,5,0,True,operated,False,30.0,False,Sable,Buff,True,Adoption
26710,2014-11-24 17:21:00,True,2014,11,0,17,True,intact,False,30.0,True,Brown,Black,True,Transfer
26711,2013-10-30 18:32:00,True,2013,10,2,18,True,intact,False,365.0,True,Buff,None,False,Transfer
26712,2015-04-20 16:04:00,True,2015,4,0,16,True,operated,True,4380.0,True,Chocolate,Tan,True,Return_to_owner
26713,2014-01-20 17:37:00,False,2014,1,0,17,False,intact,False,6570.0,False,Tortie,None,False,Euthanasia
26714,2014-05-31 16:11:00,True,2014,5,5,16,False,operated,False,60.0,False,Orange,None,False,Adoption
26715,2015-08-05 17:03:00,True,2015,8,2,17,True,operated,False,60.0,False,Black,White,True,Adoption
26716,2015-05-02 21:04:00,True,2015,5,5,21,True,operated,True,60.0,False,White,Black,True,Adoption
26717,2014-06-30 17:34:00,True,2014,6,0,17,True,operated,False,3285.0,False,Black,None,False,Return_to_owner
26718,2015-04-28 14:26:00,False,2015,4,1,14,True,operated,True,60.0,True,Black,Tricolor,True,Adoption
26719,2015-07-20 09:00:00,False,2015,7,0,9,False,unknown,False,730.0,False,Brown,White,True,Transfer
26720,2015-07-18 14:08:00,True,2015,7,5,14,False,operated,False,60.0,False,Brown,None,False,Adoption
26721,2014-07-17 09:43:00,True,2014,7,3,9,False,operated,False,1825.0,False,Black,None,False,Adoption
26722,2014-08-31 09:00:00,False,2014,8,6,9,False,intact,True,150.0,False,Orange,None,False,Transfer
26723,2016-01-29 18:52:00,True,2016,1,4,18,True,operated,True,2190.0,False,Blue,White,True,Adoption
26724,2015-05-14 11:56:00,False,2015,5,3,11,False,intact,True,30.0,False,Brown,White,True,Transfer
26725,2016-01-20 18:59:00,False,2016,1,2,18,False,operated,False,90.0,False,Brown,None,False,Transfer
26726,2015-03-09 13:33:00,True,2015,3,0,13,True,operated,True,1460.0,False,White,Tan,True,Adoption
26727,2014-04-27 12:22:00,False,2014,4,6,12,False,intact,True,28.0,False,Black,None,False,Transfer
26728,2015-07-02 09:00:00,False,2015,7,3,9,False,intact,True,365.0,False,Brown,White,True,Transfer

,has_name,year,month,weekday,hour,is_dog,condition,is_male,age_in_days,pure_breed,cores_1,cores_2,bi_color,OutcomeType
DateTime,,,,,,,,,,,,,,
2014-02-12 18:22:00,True,2014,2,2,18,True,operated,True,365.0,False,Brown,White,True,Return_to_owner
2013-10-13 12:44:00,True,2013,10,6,12,False,operated,False,365.0,False,Cream,None,False,Euthanasia
2015-01-31 12:28:00,True,2015,1,5,12,True,operated,True,730.0,False,Blue,White,True,Adoption
2014-07-11 19:09:00,False,2014,7,4,19,False,intact,True,21.0,False,Blue,None,False,Transfer
2013-11-15 12:52:00,False,2013,11,4,12,True,operated,True,730.0,True,Tan,None,False,Transfer
2014-04-25 13:04:00,True,2014,4,4,13,True,intact,False,30.0,True,Black,Tan,True,Transfer
2015-03-28 13:11:00,True,2015,3,5,13,False,intact,True,21.0,False,Blue,None,False,Transfer
2015-04-30 17:02:00,False,2015,4,3,17,False,unknown,False,21.0,False,Brown,None,False,Transfer
2014-02-04 17:17:00,True,2014,2,1,17,True,operated,False,150.0,False,Red,White,True,Adoption
2014-05-03 07:48:00,False,2014,5,5,7,True,operated,False,365.0,True,White,None,False,Adoption
2013-12-05 15:50:00,False,2013,12,3,15,False,unknown,False,730.0,False,Black,None,False,Transfer
2013-11-04 14:48:00,False,2013,11,0,14,True,operated,False,730.0,False,Silver,None,False,Adoption
2016-02-03 11:27:00,True,2016,2,2,11,True,operated,True,1460.0,False,Brown,None,False,Adoption
2015-06-08 16:30:00,True,2015,6,0,16,True,operated,True,730.0,False,Black,Red,True,Return_to_owner
2015-11-25 15:00:00,True,2015,11,2,15,True,operated,True,365.0,False,White,Cream,True,Return_to_owner
2014-07-12 12:10:00,True,2014,7,5,12,False,operated,True,90.0,False,Orange,White,True,Adoption
2014-05-03 16:15:00,False,2014,5,5,16,False,intact,True,21.0,False,Brown,None,False,Transfer
2014-06-07 12:54:00,False,2014,6,5,12,True,intact,False,14.0,False,Brown,White,True,Transfer
2014-05-17 11:32:00,True,2014,5,5,11,False,intact,False,730.0,False,White,None,False,Transfer
2014-07-30 17:34:00,True,2014,7,2,17,True,operated,True,365.0,False,Black,None,False,Return_to_owner
2014-01-19 15:03:00,True,2014,1,6,15,True,intact,True,60.0,False,Black,White,True,Transfer
2015-09-18 15:19:00,True,2015,9,4,15,False,operated,False,365.0,False,White,None,False,Transfer
2015-08-15 14:22:00,True,2015,8,5,14,True,operated,False,730.0,True,Brown,White,True,Adoption
2013-10-28 16:32:00,True,2013,10,0,16,True,operated,True,300.0,False,Brown,White,True,Adoption
2014-04-09 17:44:00,True,2014,4,2,17,True,operated,True,60.0,False,Black,Brown,True,Return_to_owner
2015-10-03 15:44:00,True,2015,10,5,15,False,intact,False,30.0,False,Orange,None,False,Transfer
2016-01-15 17:31:00,True,2016,1,4,17,True,operated,False,180.0,False,Chocolate,White,True,Adoption
2015-03-25 18:50:00,True,2015,3,2,18,True,operated,False,1825.0,False,White,Tan,True,Adoption
2015-11-21 13:01:00,True,2015,11,5,13,False,operated,False,60.0,False,Cream,White,True,Adoption
2015-07-30 14:30:00,True,2015,7,3,14,False,operated,True,2555.0,False,Blue,None,False,Return_to_owner
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-04-21 14:01:00,True,2014,4,0,14,True,operated,True,730.0,False,White,Black,True,Euthanasia
2015-06-15 19:28:00,True,2015,6,0,19,True,intact,True,300.0,True,Tan,Cream,True,Return_to_owner
2014-06-15 17:41:00,True,2014,6,6,17,True,intact,False,330.0,False,White,Black,True,Transfer
2015-10-11 09:42:00,False,2015,10,6,9,False,operated,False,730.0,False,Lynx,None,False,Died
2015-12-04 12:22:00,True,2015,12,4,12,False,operated,True,2190.0,False,Seal,None,False,Transfer
2015-11-17 17:17:00,True,2015,11,1,17,False,intact,False,28.0,False,White,Black,True,Transfer
2013-10-19 15:34:00,True,2013,10,5,15,False,intact,False,60.0,False,Tortie,None,False,Transfer
2014-10-19 13:29:00,True,2014,10,6,13,False,operated,False,60.0,False,Black,None,False,Adoption
2014-07-01 17:06:00,False,2014,7,1,17,False,unknown,False,365.0,False,Brown,None,False,Euthanasia
2013-11-13 17:32:00,True,2013,11,2,17,True,operated,True,730.0,False,White,Brown,True,Transfer
2015-10-24 00:00:00,False,2015,10,5,0,True,operated,False,30.0,False,Sable,Buff,True,Adoption
2014-11-24 17:21:00,True,2014,11,0,17,True,intact,False,30.0,True,Brown,Black,True,Transfer
2013-10-30 18:32:00,True,2013,10,2,18,True,intact,False,365.0,True,Buff,None,False,Transfer
2015-04-20 16:04:00,True,2015,4,0,16,True,operated,True,4380.0,True,Chocolate,Tan,True,Return_to_owner
2014-01-20 17:37:00,False,2014,1,0,17,False,intact,False,6570.0,False,Tortie,None,False,Euthanasia
2014-05-31 16:11:00,True,2014,5,5,16,False,operated,False,60.0,False,Orange,None,False,Adoption
2015-08-05 17:03:00,True,2015,8,2,17,True,operated,False,60.0,False,Black,White,True,Adoption
2015-05-02 21:04:00,True,2015,5,5,21,True,operated,True,60.0,False,White,Black,True,Adoption
2014-06-30 17:34:00,True,2014,6,0,17,True,operated,False,3285.0,False,Black,None,False,Return_to_owner
2015-04-28 14:26:00,False,2015,4,1,14,True,operated,True,60.0,True,Black,Tricolor,True,Adoption
2015-07-20 09:00:00,False,2015,7,0,9,False,unknown,False,730.0,False,Brown,White,True,Transfer
2015-07-18 14:08:00,True,2015,7,5,14,False,operated,False,60.0,False,Brown,None,False,Adoption
2014-07-17 09:43:00,True,2014,7,3,9,False,operated,False,1825.0,False,Black,None,False,Adoption
2014-08-31 09:00:00,False,2014,8,6,9,False,intact,True,150.0,False,Orange,None,False,Transfer
2016-01-29 18:52:00,True,2016,1,4,18,True,operated,True,2190.0,False,Blue,White,True,Adoption
2015-05-14 11:56:00,False,2015,5,3,11,False,intact,True,30.0,False,Brown,White,True,Transfer
2016-01-20 18:59:00,False,2016,1,2,18,False,operated,False,90.0,False,Brown,None,False,Transfer
2015-03-09 13:33:00,True,2015,3,0,13,True,operated,True,1460.0,False,White,Tan,True,Adoption
2014-04-27 12:22:00,False,2014,4,6,12,False,intact,True,28.0,False,Black,None,False,Transfer
2015-07-02 09:00:00,False,2015,7,3,9,False,intact,True,365.0,False,Brown,White,True,Transfer

In [4]:

df2 = pd.get_dummies(df2, columns=['year', 
                                   'month', 
                                   'weekday', 
                                   #'weekend',
                                   #'period', 
                                   'hour',                                   
                                   'condition', 
                                   'cores_1', 
                                   'cores_2'])
df2.dropna(axis=0, inplace=True)
y = df2['OutcomeType']
x = df2.drop('OutcomeType', axis=1)
#x_norm = normalize(x, 'l2')

In [ ]:
rfc_params = {
    'n_estimators' : np.linspace(100, 300, 3, dtype='int'),
    'max_depth': np.linspace(20, 50, 5, dtype='int'),
    'min_samples_leaf': np.linspace(1, 3, 2, dtype='int'),   
    'class_weight' : [None, 'balanced'],
}
rf_grid = GridSearchCV(RandomForestClassifier(), rfc_params, verbose=3, scoring='log_loss', n_jobs=4)
rf_grid.fit(x, y)
print(rf_grid.best_score_)
print(rf_grid.best_params_)

In [ ]:
grad_params = {
    'n_estimators' : np.linspace(10, 40, 3, dtype='int'),
    'max_depth': np.linspace(3, 10, 3, dtype='int'),    
    'subsample' : np.linspace(0.3, 0.95, 3),
    'learning_rate' : np.linspace(0.01, 0.3, 5),
}
grad_grid = GridSearchCV(GradientBoostingClassifier(), grad_params, verbose=3, scoring='log_loss', n_jobs=4)
grad_grid.fit(x, y)
print(grad_grid.best_score_)
print(grad_grid.best_params_)

Fitting 3 folds for each of 135 candidates, totalling 405 fits

[Parallel(n_jobs=4)]: Done  24 tasks      | elapsed:   57.3s

In [ ]:
bag = BaggingClassifier(max_samples=0.8, max_features=0.7, n_estimators=40)
#sgd = SGDClassifier(loss='log')
grad = GradientBoostingClassifier(n_estimators=20, max_depth=4, verbose=0, subsample=0.9)
rfc = RandomForestClassifier(max_depth=20, n_estimators=300)
votecf = VotingClassifier([('rf1', rfc),
                           ('bag', bag),
                           ('grad', grad),
                           ('sgd', sgd)
                          ], 'soft')
cross_val_score(votecf, x, y, cv = 5, scoring='log_loss', n_jobs=4)

In [ ]:
rfc = RandomForestClassifier(max_depth=10, n_estimators=50)
rfc.fit(x, y)
print('Top features')
for score, feat in sorted(zip(rfc.feature_importances_, x.columns), reverse=True)[:10]:
    print('{:.3f} {}'.format(score,feat))
print()    
print('Botton features')
for score, feat in sorted(zip(rfc.feature_importances_, x.columns), reverse=True)[-20:]:
    print('{:.5f} {}'.format(score,feat))

In [ ]:
#x_norm = normalize(x)
#svc = SVC(probability=True)
#cross_val_score(svc, x, y, cv=5, verbose=3, scoring='log_loss')

In [ ]:
#pca = PCA(0.999)
#x_pca = pca.fit_transform(x)
#x_pca.shape